.grid-container{
    display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(9, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;

}
.grid-item{
    background-color: yellow;
    border: 1em solid #1d8dff;
    padding: 0.5em;
    font-size: 1em;
    text-align: center;
}
.image{
    border-radius: 5em;
}
.een{
    background-color: green;

}
.divnaam{
    font-size: 4em;
}
.githubprofiel{
    font-size: 1em;
}

