@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

/* :roort maakt variabele die elk staan voor een kleur. */

:root {
    --background: #a0beaa;
    --accent: #4b4137;
    --accent-dark: #ffffffc0;
    --text: #0A1612;
    --white: #fff;
}

.dark-mode {
    --background: black;
    --accent: #313030;
    --accent-dark: #ffffffc0;
    --text: #0A1612;
    --white: #fff;
}

/* var(--background) takes property value from :root */ 
body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    background: linear-gradient(0deg, #d4f2d6, #87bb99);
}

.header {
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
    font-size: 3em;
    margin: .1em;
}

.header img {
    width: 50%;
}

/* Display grid zorgt in dit geval voor een grid layout */
/* Grid Template Columns zorgt dan dat er 4 columns weergeven worden */

.grid__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5em;
    margin: 5em;
}

.grid__tile {
    background-color: var(--accent-dark);
    color: var(--text);
    border-radius: 32px;
    padding: 0.5em;
    font-size: 1em;
    text-align: center;
    margin-bottom: 4em;
    box-shadow: 4px 4px 4px rgba(121, 121, 121, 0.295);
}

.grid__image {
    background-color: var(--white);
    border-radius: 50%;
    padding: 16px;
    width: 128px;
    margin-top: -5em;
}

.grid__name {
    font-size: 2.5em;
    margin: 0.4em;
}

.grid__socials {
    display: flex;
    justify-content: center;
    gap: 1em;
}

.grid__socials a {
    color: var(--accent);
    text-decoration: unset;
    font-size: 2em;
}

.grid__profilecard {
    font-size: 3em;
    background-color: transparent;
    border: none;
    width: 64px;
    transition: all .1s ease-in;
    cursor: pointer;
}

.grid__profilecard:hover {
    transform: scale(1.2);
}

.grid__birthdayimage {
    width: 48px;
    position: absolute;
    margin-top: -5em;
}

.hidden {
    display: none;
}

.footer {
    color: var(--text);
}

.footer h3, h5 {
    margin: 0;
}

.footer__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white);
    padding: 2em 5em;
}

.footer__waves {
    margin: 0;
    padding: 0;
}

.footer__site {
    text-decoration: none;
    color: var(--text);
    font-size: 1.5em;
    font-weight: bold;
}

/* Dark Theme */
.dark-mode {
    background: linear-gradient(45deg, #5c5c5c, black);
    color: var(--white);
}

/* Deze selector selecteert de eerste section childs in main, maar alleen als de body de class .dark-mode heeft. */
body.dark-mode main > section {
    box-shadow: 0 0 20px 10px rgba(255, 255, 255, .322);
}

body.dark-mode .light-dark-switch {
    color: var(--white);
}

.light-dark-switch {
    position: absolute;
    right: 0;
    margin: .5em;
    background: none;
    border: none;
    font-size: .6em;
}

.light-dark-switch:hover {
    cursor: pointer;
}

/* Media Query Phone */
/* Kijkt naar de min en max width van de device, en geeft dan deze specifieke properties mee */
/* Only screen betekent dat hij alleen applied op een device met de type 'screen' en niet naar een andere type, bijv. print. */
@media only screen and (max-width: 767px) and (min-width: 400px) {
    .grid__container {
        grid-template-columns: 1fr;
    }

    .grid__name {
        font-size: 3em;
    }

    .footer__container {
        flex-direction: row;
        flex-wrap: wrap;
        display: flex;
        align-items: center;
        gap: 2em;
        text-align: center;
    }

    .footer__right {
        margin: 0 auto;
    }
}

/* Media Query Tablet */
/* Kijkt naar de min en max width van de device, en geeft dan deze specifieke properties mee */
/* Only screen betekent dat hij alleen applied op een device met de type 'screen' en niet naar een andere type, bijv. print. */
@media only screen and (max-width: 1023px) and (min-width: 768px) {
    .grid__container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
 }

 /* CODEPEN WAVES */
 /* BRON: https://codepen.io/goodkatz/pen/LYPGxQz */

.flex { /*Flexbox for containers*/
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.waves {
    position: relative;
    width: 100%;
    height: 15vh;
    margin-bottom: -7px; /*Fix for safari gap*/
    min-height: 100px;
    max-height: 150px;
}
  
.content {
    position: relative;
    height: 20vh;
    text-align: center;
    background-color: white;
}
  
/* Animation */
  
.parallax > use {
    animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}

.parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}

  .parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
 }

 .parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
 }

 @keyframes move-forever {
    0% {
     transform: translate3d(-90px, 0, 0);
    }
    100% { 
      transform: translate3d(85px, 0, 0);
    }
 }

  /*Shrinking for mobile*/
 @media (max-width: 768px) {
    .waves {
      height: 40px;
      min-height: 40px;
    }

    .content {
      height: 30vh;
    }
    
    h1 {
      font-size: 24px;
    }
}

/* SCROLLBAR */
/* BRON: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_scrollbars_styling */

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(61, 61, 61, .418);
  border-radius: 4px;
}